@{
    Layout = null;
}
@foreach (var n in ViewBag.comment)
{
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="@Html.Action("userphoto","Scidetail",new { id=n.users_id})" width="25" height="25" alt="" id="photo">
            </a>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <strong style="color:red">@Html.Action("nickname", "Scidetail", new { id = n.users_id })<span style="color:black">回复</span>@ViewBag.parentName</strong>
                <a href="@Url.Action("Comlike","Scidetail",new { id=n.id})"><span class="glyphicon glyphicon-thumbs-up fr">@Html.Action("Num", "Scidetail", new { id = n.id })</span></a>
                <span class="fr" onclick="replay()">回复</span>
                @*<span class="fr"><a href="#">举报</a></span>*@
            </div>
            <span>@n.content</span>

            @using (Html.BeginForm("replay", "Scidetail", FormMethod.Post, new { @class = "text" }))
            {
                <input type="text" class="text" id="comment_id" name="comment_id" value="@n.id" />
                <input type="text" class="text" id="article_id" name="article_id" value="@n.article_id" />
                <input type="text" class="form-control" name="content" value="" />
                <input type="submit" class="btn btn-default col-lg-1 col-lg-offset-11" name="name" value="回复" />
            }

            @Html.Action("Comment", "Scidetail", new { id = n.id })
        </div>
    </div>
}



